* {
  margin: 0;
  padding: 0;
}
.divMakeup {
  height: 250px;
  width: 900px;
  background-color: skyblue;
  border-left: 6px dotted white;
  border-radius: 0px 5px 30px 0px;
  box-shadow: 3px 3px 8px skyblue;
  display: inline-block;
  padding: 0px 25px;
}
.divH1 {
  text-decoration: underline;
  padding: 10px;
  margin-bottom: 5px;
}
button {
  color: white;
  background-color: #afafaf;
  border: 1px dotted white;
  padding: 3px;
  border-radius: 3px 0px;
}
#pDiv {
  margin: 25px;
  padding: 20px;
  text-align: center;
}
.divMakeup2 {
  height: 400px;
  width: 900px;
  padding: 30px;
  background-image: url(../Images/1683707126171.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 90%;
  display: inline-block;
  border-radius: 5px 5px 25px 5px;
  color: azure;
  border: 3px solid skyblue;
  box-shadow: 3px 3px 8px #000;
  line-height: 1.6em;
}
p {
  text-align: center;
  margin: 10px;
}
